{% extends 'base.html' %}

{% block title %}
Tambah Project - Kaysan
{% endblock title %}

{% block content %}

<section class="section">

    <div class="container">

        <div class="section-heading">
            <p class="section-label">ADD PROJECT</p>
            <h1>Tambah Project</h1>
            <p>
                Tambahkan project baru ke portfolio saya.
            </p>
        </div>

        <form method="POST">

            {% csrf_token %}

            <div>
                {{ form.as_p }}
            </div>

            <button type="submit">
                Simpan Project
            </button>

        </form>

    </div>

</section>

{% endblock content %}