{% extends 'base.html' %}

{% block title %}
Edit Experience - Kaysan
{% endblock title %}

{% block content %}

<section class="section">

    <div class="container">

        <div class="section-heading">

            <p class="section-label">
                EDIT EXPERIENCE
            </p>

            <h1>
                Edit Experience
            </h1>

            <p>
                Perbarui informasi experience
                <strong>{{ experience.title }}</strong>.
            </p>

        </div>

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit">
                Simpan Perubahan
            </button>

            <a href="{% url 'main:show_experience' %}">
                Batal
            </a>

        </form>

    </div>

</section>

{% endblock content %}