{% extends 'base.html' %}

{% block title %}
Experience - Kaysan
{% endblock title %}

{% block content %}

<section class="experience-section">

    <div class="container">

        <h1>My Experience</h1>

        <a href="{% url 'main:create_experience' %}">
            Tambah Experience
        </a>

        <div class="experience-grid">

            {% for experience in experiences %}

                <article class="experience-card">

                    <h2>{{ experience.title }}</h2>

                    <p class="experience-category">
                        {{ experience.get_category_display }}
                    </p>

                    <p>
                        {{ experience.description }}
                    </p>

                    {% if experience.is_ongoing %}
                        <span class="experience-status">
                            Currently Ongoing
                        </span>
                    {% else %}
                        <span class="experience-status">
                            Completed
                        </span>
                    {% endif %}

                </article>

            {% empty %}

                <p>No experience available.</p>

            {% endfor %}

        </div>

    </div>

</section>

{% endblock content %}