{% extends 'base.html' %}

{% block title %}
Experience - Kaysan
{% endblock title %}

{% block content %}

<section class="experience-section">

    <div class="container">

        <h1>My Experience</h1>

        <a href="{% url 'main:create_experience' %}">
            Tambah Experience
        </a>

        <div class="experience-grid">

            {% for experience in experiences %}

                <article class="experience-card">

                    <h2>{{ experience.title }}</h2>

                    <p class="experience-category">
                        {{ experience.get_category_display }}
                    </p>

                    <p>
                        {{ experience.description }}
                    </p>

                    <div class="experience-actions">

                    {% if experience.is_ongoing %}
                        <span class="experience-status">
                            Currently Ongoing
                        </span>
                    {% else %}
                        <span class="experience-status">
                            Completed
                        </span>
                    {% endif %}

                    <a
                        href="{% url 'main:edit_experience' experience.id %}"
                        class="experience-action edit"
                    >
                        Edit Experience
                    </a>

                    <a
                        href="{% url 'main:delete_experience' experience.id %}"
                        class="experience-action delete"
                    >
                        Delete Experience
                    </a>

                </div>

                </article>

            {% empty %}

                <p>No experience available.</p>

            {% endfor %}

        </div>

    </div>

</section>

{% endblock content %}